---
import Footer from "../sections/Footer.astro";
import Header from "../sections/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>QuizMaster - Quiz App</title>
    <meta
      name="description"
      content="A simple quiz application built with Astro and Tailwind CSS."
    />
    <meta name="author" content="Tomás" />
  </head>
  <body class="h-full flex flex-col">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  @import "tailwindcss";
  @plugin "@midudev/tailwind-animations";

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      135deg,
      #fef5f0 0%,
      #ffffff 25%,
      #fde8e8 50%,
      #ffffff 75%,
      #f0e8e8 100%
    );
  }
</style>
